<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario FrostPunk</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="#"><img src="/assets/img/frostbanner.gif" alt=""></a>
            </div>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Ciudados de nuevo Londres</a></li>
                <li><a href="#">Imagenes</a></li>
                <li><a href="templates/formulario.html">Contáctanos</a></li>
                <li><a href="">Acerca de FrostPunk</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <br><br><br><br><br><br><br><br>
            <form action="receptor.html" method="get" id="formulario">
                <h2>Formulario Contacto</h2>
                <label for="nombre">Nombre</label>
                <br>
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                <br>
                <label for="email">Email</label>
                <br>
                <input type="email" name="email" id="email" placeholder="Email">
                <br>
                <label for="mensaje">Mensaje</label>
                <br>
                <textarea name="mensaje" id="mensaje" cols="21" rows="10" placeholder="Mensaje"></textarea>
                <br>
                <input type="radio" name="london" id="london" checked value="Eres del londres de siempre jamas te rindes">
                <label for="london">London</label>
                <input type="radio" name="london" id="london" value="Eres de nuevo londres no sigues las ordenes de nadie">
                <label for="newLondon">New London</label>
                <br>
                <input type="button" value="revisión de leyes" onclick="mostrarDatosFor()">
                <br>
                <input type="submit" value="Enviar">

            </form>
        </section>
    </main>
    <script src="/scripts/main.js"></script>
</body>

</html>