@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
:root{
    --header-height: 5.13125rem;
    --header-padding: 0.3125rem;
}

.header{
    background: rgb(254, 254, 254);
    display: flex; /*flexbox*/
    justify-content:center; /*alineacion horizontal*/
    align-items: center;    /*alineacion vertical*/
    height: var(--header-height); /*altura del header*/
    padding: var(--header-padding) 10%;
}

img{
    margin-top: 25%;
    width: 100%;
    height: 100%;
    align-items: center;
}

    .header nav a li ul { 
        list-style: none;
        color:rgb(255, 255, 255);
        background: #ffffff;
    }

    .header li a{
        text-decoration: none;
        color: rgb(12, 12, 12);
        padding: 1rem;
    }
    .header li{
        display: inline-block;
        
    }